{{#with data}}
<img src="/img/artline gaming.svg" alt="Продукт 4">
<div>
    <h2 class="product-card_title_1">{{title}}</h2>
    <hr>
    <h3 class="product-card_description_1">{{description}}</h3>
    <hr>

    {{#each category}}
    <span class="product-info__category product-info__category--{{id}}">{{text}}</span>
    {{/each}}
    <div class="field">
        <label for="name" class="form-label">Кількість товару</label>
        <input type="number" name="amount" value="1" class="form-input" placeholder="3">
        <button class="btn btn-primary btn_3">Купити зараз: {{price}}</button>
    </div>

</div>
{{/with}}