{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <main>
    <section>
      <form method="POST" action="product-list">
        <h1 class="text-primary text-center">Список товарів</h1>
        <div class="card_content">
          {{> product-card}}
        </div>
      </form>
    </section>

    <section>
      <div class="form">
        <h1 class="form_title">Список створених товарів</h1>
        <div class="product-list">
          {{#with data}}
          {{#if isEmpty}}
          <mark>пустий</mark>
          {{else}}
          <ul>
            {{#each list}}
            <li>{{name}} | {{price}} | {{description}} | {{id}}<a href="/product-edit?id={{id}}">(Редагувати)</a></li>
            {{/each}}
          </ul>
          {{/if}}
          {{/with}}
        </div>
        <a class="btn btn-primary" href="/product-create"> Додати продукт</a>
      </div>
    </section>
  </main>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}