{{#with data}}
<div class="card">
    <div class="card-body">
        <img src="/img/Artline.svg" alt="Товар 1" class="image">
        <h2 class="product-card_title">{{title}}</h2>
        <p class="product-card_description">{{description}}</p>
        <div class="category">
            {{#each category}}
            <span class="product-card_category product-card_category--{{id}}">{{text}}</span>
            {{/each}}
            <a href="/purchase-product?id={{id}}" class="btn btn-primary">Купити зараз: {{price}}</a>
        </div>
    </div>
</div>
{{/with}}