<section>
    <form method="POST" action="product-list">
        <h1 class="text-primary text-center">Список товарів</h1>
        <div class="card_content">
            <div class="card">
                <div class="card-body">
                    <div class="product-card">
                        <strong class="card-title">{{name}}</strong>
                        <p class="description">{{description}}</p>
                        <p class="id">{{id}}</p>
                        <div class="Price">
                            <strong>{{price}}</strong>
                            <a href="/product-edit?id={{id}}" class="btn link-primary text-start">Редагувати</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>