{{#with data}}
<a href="/purchase-info" class="purchase_card">
    <div class="id">
        <div>{{id}}</div>
    </div>
    <div class="card_purchase_title">
        <div class="title">{{name}}</div>
        <div class="product">{{product}}</div>
    </div>
    <div class="purchase_price">
        <div class="price title">{{price}}</div>
        <div class="product">{{suma}}</div>
    </div>
    <div class="purchase_bonus">
        <div class="bonus title">{{bonus}}</div>
        <div class="product">{{sumabonus}}</div>
    </div>
</a>
{{/with}}